body {
  padding: 0;
  margin: 0;
  background: whitesmoke;
}

h1,
h2 {
  position: absolute;
  left: 20px;
  top: 10px;
  font-family: "Proxima Nova", Montserrat, sans-serif;
  font-size: 2em;
  font-weight: 100;
  color: #005daa;
  /* offical UK Kentucky blue */
}

h2 {
  top: 50px;
  font-size: 1.6em;
}

.county {
  stroke: #fff;
  fill: #005daa;
}

.hover {
  fill: yellow;
}
.mapa {
  background-image: url("img/co.svg");
  background-size: contain;
  background-position: -72px -31px;
}
main {
  margin: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: start;
}
.ancho-cajas {
  width: auto;
  margin: 1rem;
}
form {
  margin-top: 5rem;
}
